#clock {
  position: relative;
  border-radius: 20px;
  background-color: #222;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, #333, #111);
  width: 100%;
  height: 100%;
}

#time {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#period {
  font-size: 18px;
  margin-left: 8px;
  width: 100%;
  height: 100%;
}

body {
    height: 100%;
}
